{% block content%}  
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./static/CSS/estilos.css">
</head>
<body class="container">  
    <!-- <h1 class="text-center">HOME</h1> -->

    <br>
    <main class="gallery">
        <article class="card">
            <a href="/Viaje" class="fondo center-absolute img viaje">
                <h4 class="texto">Viaje Escolar</h4>
            </a>
        </article>

        <article class="card">
            <a href="/Triangulos" class="fondo center-absolute img areaT">
                <h4 class="texto">Calcular Area de un Triangulo </h4>
            </a>
        </article>
        <article class="card">
            <a href="/Calificaciones" class="fondo center-absolute img calificacion">
                <h4 class="texto">Calificaciones</h4>
            </a>
        </article>
        <article class="card">
            <a href="/Grados" class="fondo center-absolute img grados">
                <h4 class="texto">Grados Farenheit a Centigrados</h4>
            </a>
        </article>
        <article class="card">
            <a href="/Multiplicar" class="fondo center-absolute img tabla">
                <h4 class="texto">Tablas de Multiplicar</h4>
            </a>
        </article>
        <article class="card">
            <a href="/" class="fondo center-absolute img menu">
                <h4 class="texto">Home</h4>
            </a>
        </article>
    </main>
</body>
</html>

{% endblock %}
